<!doctype html>
<html>
<head>
  <title><%=model.title%> - community</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
  <header>
    <h1>
      <a class="appbar" href="/">community</a>
      <a class="appbarButton" href="/topic/create">글쓰기</a>
      <%-updateButton%>
      <%-auth%>
    </h1>
  </header>
  <section>
    <p class="title">
      <%=model.title%> - <%=model.author%>
    </p>
    <p class="description">
      <%
        var desc=model.description;
        desc = desc.replace(/(?:\r\n|\r|\n)/g, '<br>');
      %>
      <%-desc%>
    </p>
    <%-deleteButton%>
    <!-- <form action="/topic/delete_process" method="post">
      <input type="hidden" name="id" value="<%=model.id%>">
      <input type="hidden" name="author" value="<%=model.author%>">
      <input class="deleteButton" type="submit" value="삭제">
    </form> -->
  </section>
  <footer>
    Community Service. Developed By kraftenty@gmail.com
  </footer>
</body>
</html>