<!doctype html>
<html>
<head>
  <title><%=model.title%> - community</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
  <header>
    <h1>
      <a class="appbar" href="/">community</a>
      <a class="appbarButton" href="/topic/create">글쓰기</a>
      <a class="appbarButton" href="/topic/update/<%=model.id%>">수정</a>
      <%-auth%>
    </h1>
  </header>
  <section>
    <p class="title">
      <%=model.title%>
    </p>
    <p class="description">
      <%=model.description%>
    </p>
    <form action="/topic/delete_process" method="post">
      <input type="hidden" name="id" value="<%=model.id%>">
      <input class="deleteButton" type="submit" value="삭제">
    </form>
  </section>
  <footer>
    Community Service. Developed By kraftenty@gmail.com
  </footer>
</body>
</html>