<!doctype html>
<html>
<head>
  <title><%=model.title%> - 수정 - community</title>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
  <header>
    <h1>
      <a class="appbar" href="/">community</a>
      <%-auth%>
    </h1>
  </header>
  <section>
    <h2>글 수정</h2> 
    <form action="/topic/update_process" method="post">
      <input type="hidden" name="id" value="<%=model.id%>">
      <input type="hidden" name="author" value="<%=model.author%>">
      <p><input class="titleInput" type="text" name="title"value="<%=model.title%>"></p>
      <p>
        <textarea name="description"><%=model.description%></textarea>
      </p>
      <p>
        <input type="submit" value="게시">
      </p>
    </form>
  </section>
  <footer>
    Community Service. Developed By kraftenty@gmail.com
  </footer>
</body>
</html>